/* glopal rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.header {
  box-shadow: 0 0 4px 0 black;
  width: 100%;
  height: 69px;
  display: flex;
  align-items: center;
  /* position: fixed; */
  z-index: 1200;
  background-color: #ffffff;
  justify-content: space-between;
  padding: 0px 20px;
}

.logo img {
  width: 141px;
  border-radius: 7px;
  height: 55px;
}

.header ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.header ul li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 20px;
  color: black;
}

.header ul li a:hover {
  color: #9837c1;
}

.header i {
  display: none;
}

.header button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: linear-gradient(to right, #57007b, #6675f7);
  padding: 13px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: 1px;
  border-color: #57007b;
  width: 120px;
}


@media (max-width: 900px) {
  .header button {

    display: none;
  }
}

.header button:hover {
  opacity: 0.9;
}

@media (max-width: 900px) {
  .header i {
    cursor: pointer;
    display: inline-block;
  }

  .header ul {
    position: absolute;
    top: 70px;
    left: 50%;
    right: 0;
    width: 80%;
    left: 50%;
    /* تعيين القيمة إلى 50% */
    transform: translateX(-50%);
    background-color: #333439ab;
    text-align: center;
    overflow: hidden;
    gap: 0;
    flex-direction: column;
  }

  .header ul li {
    margin: 15px auto;
    padding-left: 10px;
    color: white;
    padding-bottom: 10px;
  }

  .header ul li a {
    color: white;
  }
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

@media (max-width: 1200px) {
  .landing {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

.landing .landing-text h2 {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 30px;
  margin: 10px 0;
}

.landing .landing-text h2 span {
  font-weight: bold;
}

.landing .landing-text p {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
  /* font-size: 30px; */
  margin: 20px 0;
}

.landing .landing-text span {
  background: linear-gradient(225deg, #a319af 0%, #406aff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.landing .landing-text button {
  background-color: #406aff;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  padding: 10px 0;
  color: white;
  cursor: pointer;
  border-radius: 7px;
  border: 1px;
  width: 130px;
  margin-top: 30px;
}

.landing .landing-photo {
  width: 600px;
  margin-top: 30px;
}

@media (max-width: 1200px) {
  .landing .landing-photo {
    display: none;
  }
}

/*  Start Services page */
.contianer {
  width: 100%;
  position: relative;
}

#services {

  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 50px 10px;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  width: 200%;
  transform: translateX(-25%);
  overflow-x: hidden;
}

#services .service {
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px rgba(239, 2, 247, 0.2);

  padding: 20px;
  min-width: 300px !important;

}

.balls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d541e2b3;
  margin: 10px;
}

#services h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 0;
  width: 100%;
}

#services .serv-img {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #6675f7;
}

#services p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  line-height: 22.68px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 300px;
  background-color: #fff;
  z-index: 9999999;
}
/* Start Companies */
.companies {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px ;
  padding-top: 100px;


}





@media (max-width: 950px) {
  .companies {

flex-direction: column;
justify-content: center;

  }
}


.com_text p {

  width: 400px;
   margin: 20px  0px  20px 0px;
   font-family: "Inter", sans-serif;
   font-weight: 300;
   font-style: normal;
}

@media (max-width: 676px) {
  .com_text p {
text-align: center;
    width: 300px;

  }
}

.com_text p  span{
  color:  #c382de ;

}

.test{
  position: relative;
}
.test h2{
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
  margin-top: 40px;
}


@media (max-width: 676px) {
   .com_text h2 {

    font-size: 20px;

  }
}
.test h2::before{

content: "";
position: absolute;
width: 68px;
height: 3px;
background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
top: 15px;

}
.test h2 span{

font-weight: bold;
}

.com_text .info{
  margin-bottom: 50px;
  position: relative;
  height: 50px;

}
.com_text  a{

text-decoration: none;
color: #be58e8;
margin-right: 20px;
}

.info i{

position: absolute;
top: -7px;
left:200px;
  color: #be58e8;
  margin-top: 10px;

}
.com_pic{

  position: relative;
}
.com_pic img {
  width: 500px;
  border-radius: 20px ;

}

@media (max-width: 676px) {
  .com_pic img {

    width: 300px;

  }
}



.com_pic .pic_icon{

width: 60px;
height: 60px;
border-radius: 50%;
background-color: #57007B;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.com_pic i{

  color:white;
  background-color: #57007B;
}

.bottom_arr {  


display: flex;
align-items: center;
justify-content: center;
height: 100px;

 }



 .bottom_arr .first_icon ,.bottom_arr .second_icon{
  width: 30px;
height: 30px;
border-radius: 50%;
border: 2px solid #ac45d8;
display: flex;
align-items: center;
justify-content: center; 
margin: 0px 10px;


 }
 .bottom_arr .first_icon i{
  
color: #ac45d8;

 }

 .bottom_arr .second_icon{
background-color: #ac45d8;

 }

 .bottom_arr .second_icon i{
  
  color: white;
  
   }


.arr{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px ;

  padding-bottom: 100px;
}



@media (max-width: 950px) {
  .arr{

flex-direction: column;
justify-content: center;

  }
}



@media (max-width: 676px) {
  .arr h2 {

   font-size: 20px;

 }
}

/* start logoes */

.logoes{
  width: 110%;
 display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
background-color: #eee;
min-height: 200px;
align-items: center;
margin-bottom: 40px;

}


@media (max-width: 950px) {
  .logoes{
     text-align: center;
    width: 100%;

  }
}


.logoes .logo_img img{

width: 90px;
height: 100px;

}



/* Start Customer */
.customer_container {
  padding: 40px 0px;
  position: relative;

}
.customer_container .customer_head{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.customer_container p{
  width: 450px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  margin-top: 30px;

}


@media (max-width: 767px) {
  .customer_container p{

    width: 300px;
text-align: center;


  }
}

.customer_container .customers{

    padding: 50px 10px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    position: relative;

}

.customer_container .customers .customer{
    

  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: .6;
  padding: 20px;
  min-width: 300px !important;

  text-align: center;


}



@media (max-width: 767px) {
  .customer_container .customers .customer{

    min-width: 200px !important;


  }
}

.customer .cust_img{
height: 150px;
  text-align: center ;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  }
.customer .cust_img img{

width: 150px;
height: 150px;
border-radius: 50%;
}


@media (max-width: 767px) {
  .customer .cust_img img{
    width: 100px ;
    height: 100px;

  }
}
.customer h3{
  width: 100%;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}


@media (max-width: 767px) {
  .customer h3{

    font-size: 13px;
    font-weight: 200;    
  }

}

.customer h4{


  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
}

@media (max-width: 767px) {
  .customer h4{

    font-size: 10px;
    font-weight: 150;    
  }

}

.cust_icones{
   width: 100%;
  text-align: center;
  color:gold;

}


@media (max-width: 767px) {
  .cust_icones{
height: 30px;
    font-size: 10px;
    font-weight: 150;    
  }

}

.squares {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.square {
  width: 30px;
  height: 7px;
  border-radius: 10px;
  background-color: #d541e2b3;
  margin: 10px;
}

.active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 310px;
  height: 310px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 9999999999;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px rgba(239, 2, 247, 0.2);
}


@media (max-width: 767px) {
  .active {

    width: 250px ;
    height: 250px;


  }
}

@media (max-width: 1200px) {
  .dashed_arr{
 
display: none;
  }
}
.big_arrow1{

text-align: end;

position: absolute;
right: 300px;
top: 2750px;
}



.big_arrow2{
  left: 300px;

font-size: 20px;  
position: absolute;
top: 2800px;

z-index: 6666;

}
  


/* Start  case Studies */
.cases{
width: 100%;
background-color: #eee;
padding: 20px 0px;
  display: flex;
flex-direction: column;
align-items: center;
}
.case1 , .case2 ,.case3{
width: 80%;
display: flex;
flex-direction: row;
margin-bottom: 40px;
border-radius: 10px;
transition: border 0.3s ease;

}


@media (max-width: 950px) {
  .case1 , .case2 ,.case3{
    flex-direction: column;
  }
}

.case1{
margin-top: 40px;
  background-color: #E7DAED;
}

.case2{
  background-color: #F0FFF7;
}
.case3{
  background-color: #FFF4F4  ;
}

.case_text{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 50%;

}



@media (max-width: 900px) {
  .case_text {
    align-items: center;
    width: 90%;

  }
}
.case_text p{
  font-family: Inter;
  font-size: 12px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  
  width: 90%;
}



@media (max-width: 900px) {
  .case_text p{
    font-weight: 200;
    align-items: center;

  }
}
.case_text h3{

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  margin-top: 40px;
margin-bottom: 20px;
  width: 450px;
}



@media (max-width: 1200px) {
  .case_text h3{
    font-size: 20px;
    font-weight: 300;
    width: 90%;
  }
}
.case_img{

display: flex;
align-items: center;
justify-content: center;
border-radius: 10px;

}


.case_img img{

border-radius: 10px;
width: 100%;
}


.case_link{

width: 100%;
  text-align: right;
margin-top: 50px;
margin-right: 50px;

}


@media (max-width: 950px) {
  .case_link{
  margin-bottom: 20px;
  margin-right: 10px;

  }
}
.out_link{
  width: 80%;
  text-align: end;
margin-top: 50px;
font-weight: bold;
font-size: 20px;
}


@media (max-width: 600px) {
  .out_link{
font-weight: 300px;
font-size: 15px;
  }
}

.case_link a ,.out_link a {
  background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
  -webkit-background-clip: text; 
  color: transparent; 
  text-decoration: none; 
  position: relative;
}

.case_link a::after , .out_link a::after{
  content: ">";
  margin-left: 10px;
  font-size: 15px;
}

/*  Start Building */


.building{

 text-align: center;
 margin-top: 50px;

}
.building .team{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .building .team{
 flex-direction: column;
 justify-content: center;
 align-items: center;
  }
}

.building .team .parg_up{
  width: 534px;
font-family: Inter;
font-size: 18px;
font-weight: 200;
margin: 20px 0px 30px 0px;
}

@media (max-width: 920px) {
  .building .team .parg_up{
    width: 300px;
    font-size: 15px;
text-align: center;

  }
}
.team  .team_info h3{

  width: 379px;
height: 38px;
font-family: Inter;
font-size: 28px;
font-weight: 600;
line-height: 38.09px;
}
@media (max-width: 920px) {
  .team  .team_info h3{
    width: 300px;
    font-size: 20px;
text-align: center;

  }
}
.team .team_info .jop{
display: flex;
font-family: Inter;
     margin-top: 40px;
     
}

.team .team_info .jop h6{ 
  color: #718096;
  margin-left: -72px;
}

.team .team_info .jop h4{ 
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;

}

.team  .team_info h5{
  width: 503px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0px;
}
@media (max-width: 920px) {
  .team  .team_info h5{
    width: 300px;
text-align: center;

  }
}
.team h5  .team_info span{
  background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
  -webkit-background-clip: text; 
  color: transparent; 
  text-decoration: none; 

}

.building .team_info .para_down {
   position: relative; 
 
}
.building .team_info .para_down p {
  background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
  -webkit-background-clip: text; 
  color: transparent; 
  text-decoration: none; 
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 30px;
width: 450px;
}
@media (max-width: 920px) {
  .building .team_info .para_down p {
    width: 300px;
    font-size: 20px;
text-align: center;

  }
}

.building  .team_info .para_down ::before{
  content: "";
background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
position: absolute;
width: 3px;
height: 90%;
left: 0px;

}


.building .team .team_img img{

width: 500px;

}

@media (max-width: 920px) {
  .building .team .team_img img{
    width: 400px;

  }
}
@media (max-width: 500px) {
  .building .team .team_img img{
    width: 300px;

  }
}
/*  start approaches_page */
.approaches_page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  margin-top: 50px;
padding: 50px 0px;

}

  .approaches{

  width: 90%;
    margin-top: 50px;
     display: grid;
    grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
    gap: 30px; 
}


@media (max-width: 900px) {
  .approaches{

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  }
}
.approach{

  border: 1px solid #E7DAED;
  min-height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 1200px) {
  .approach{

flex-direction: column;
padding-top: 10px;
  }
}
.approach .app_info p{
  width: 453px;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 22.68px;

}

@media (max-width: 900px) {
  .approach .app_info p{
    width: 90%;
    padding: 10px;

  }
}
.app_p2 span{
  background: linear-gradient(225deg, #68DBF2 0.01%, #509CF5 100%);
  -webkit-background-clip: text; 
  color: transparent; 
  text-decoration: none; 
}

.app_p3 span{
  background: linear-gradient(224.47deg, #FF92AE 8.18%, #FF3D9A 95.84%);
  -webkit-background-clip: text; 
  color: transparent; 
  text-decoration: none; 
}
.app_p4 span{
  background: linear-gradient(225deg, #67E9F1 0%, #24E795 100%);
  -webkit-background-clip: text; 
  color: transparent; 
  text-decoration: none; 
}
.app_p5 span{
  background: linear-gradient(225deg, #FFEF5E 0%, #F7936F 100%);
  -webkit-background-clip: text; 
  color: transparent; 
  text-decoration: none; 
}
.app_p6 span{
  background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
  -webkit-background-clip: text; 
  color: transparent; 
  text-decoration: none; 
}
.approach .app_info h3{
font-family: Inter;
font-size: 20px;
font-weight: 500;
margin-bottom: 20px;

}

@media (max-width: 900px) {
  .approach .app_info h3{
margin-top: 20px;
text-align: center;
  }
}
.app_img1 ,.app_img2 ,.app_img3
,.app_img4 ,.app_img5 ,.app_img6{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;

}
.app_img1{
background-color: black;
}

.app_img2{
  border-radius: 10px;  background: linear-gradient(225deg, #68DBF2 0.01%, #509CF5 100%);
  }
  .app_img3{
    background: linear-gradient(224.47deg, #FF92AE 8.18%, #FF3D9A 95.84%);
    }
  .app_img4{
    background: linear-gradient(225deg, #67E9F1 0%, #24E795 100%);
    }

    .app_img5{
      background: linear-gradient(225deg, #FFEF5E 0%, #F7936F 100%);
      }

      .app_img6{
        background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
        }
    
/* ############################ */

.stacks{

  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 30px 0px;

}
.tracks{
display: flex;
justify-content:center;
align-items: center;
padding-bottom: 30px;
padding-top: 30px;
}


.show{
position: relative;
}

.tracks li{
margin: 0px 10px;
font-family: Inter;
font-size: 20px;
font-weight: 500;
cursor: pointer;
}


@media (max-width: 600px) {
  .tracks li{
       font-size: 15px;
    font-weight: 300;
    margin: 0px 5px;

  }
}
 .languages {

margin: 20px auto;
width: 70%;
    justify-content: center;
    align-items: center;
}
 .languages img{

width: 200px ;
height: 90px;

}

/* ########################### */
.features_page{
text-align: center;
padding: 50px 0px;
}
.features{
 display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
padding: 50px 0px;
}


.feature{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}



.feature p{
  width:254px;
color: #2D3748;
font-family:inter;
font-size: 16px;
font-weight: 400;
line-height: 25px; 
text-align: left;
margin-bottom: 20px;
}


@media (max-width: 900px) {
  .feature p{
    margin-bottom: 0px;
    }
}
.feat_link{
width: 80%;
  background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
-webkit-background-clip: text; 
color: transparent; 
position: relative;
display: flex;
align-items: center;
justify-content: right;
text-align: right;

}

.feature a{

background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
-webkit-background-clip: text; 
color: transparent; 
text-decoration: none; 
position: relative;
margin-right: 10px;

}


@media (max-width: 900px) {
  .feat_link{
    margin-bottom: 20px;
    }
}
/* $############### */

.developments{
text-align: center;
}
.upper_work ,.lower_work{
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
gap: 20px;
padding: 50px 0px;
}



@media (max-width: 900px) {
  .upper_work ,.lower_work{
    flex-direction: column;
  }
}

.lower_work{

  margin-left: 100px;

}

@media (max-width: 900px) {
  .lower_work{
    margin-left: 0px;
  }
}

.developments .work{
border: 1px solid #E7DAED;
padding: 20px;
width: 400px;
}

@media (max-width:500px) {
  .developments .work {
    width: 300px;

  }
}
.developments .work p{

  width: 300px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.005em;
}

@media (max-width: 900px) {
  .developments .work p{
     width:250px;
  }
}
.developments .work h3{

  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  letter-spacing: -0.005em;
  text-align: left;
}

.developments .work h3 span{
  background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
  -webkit-background-clip: text; 
  color: transparent; 
  text-decoration: none; 
  margin-right: 10px;
}
.line img{
margin-bottom: 10px;

}

/* Start Developers */


.developers{
width: 90%;
margin: 20px  auto;
display: flex;
align-items: center;
justify-content: space-evenly;
  background: linear-gradient(225deg, #F1F1F5 0%, #E4ECF7 100%);
  min-height: 300px;
}


@media (max-width: 900px) {
  .developers{
    width: 100%;

flex-direction: column;
padding: 50px 0px;
  }
}

.developers h3{
  font-family: Inter;
  font-size: 35px;
  font-weight: 700;
  
}




@media (max-width: 900px) {
  .developers h3{
padding: 10px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
}
.develop_button{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.develop_button button{

  background: linear-gradient(225deg, #FFC656 0%, #F16063 100%);
width: 262px;
height:57px;
border: none;
padding: 14px 25px 14px 25px;
gap: 10px;
border-radius: 10px 0px 10px 0px;
margin: 20px 0px;
font-family: inter;
font-size: 18px;
font-weight: 700;
letter-spacing: -0.005em;
color: white;

}



/* Start of footer page  */
.footer {
  width: 100%;
  background-color: #eee;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 10px;
  gap: 20px;
  font-size: 10px;

}

@media (max-width: 920px) {
  .footer {
      justify-content: center;
  }
}

.footer h3 {

  text-align: center;
}

.footer.foot div {

  height: 150px;
  font-size: 7px;
}

@media (max-width: 920px) {
  .foot div {
      justify-content: center;
  }
}

.footer .foot a {
  display: flex;
  margin-left: 5px;
  justify-content: center;
}

.contacts a {

  margin-bottom: 25px;

}


.contacts i {

margin-right: 10px;
}
.footer .foot .social {
  text-align: center;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.footer .foot .social i {
  font-size: 13px;
  color: black;
  background-color: #fff;
  border-radius: 50%;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.footer .foot .social i:hover {
  background: linear-gradient(225deg, #FFC656 0%, #F16063 100%);
}

.emailiId input {
  padding: 8px;
  width: 230px;
  background-color: #ddd;
  border: none;
  border-radius: 20px;
  margin: 20px 0px 20px 0px;

}


.foot button {
  margin: 20px 0px 20px 0px;
  padding: 8px;
  color: white;
  width: 250px;
  background: linear-gradient(225deg, #FFC656 0%, #F16063 100%);
  border: none;
  border-radius: 20px;


}

.foot {
  font-size: 15px;
}



.foot a {

  text-decoration: none;
  color: #777;
  padding: 5px;
}




.foot a:hover {

  text-decoration: none;
  color: black;

}


  .last {
      text-align: center;

  }






